{% extends 'base.html' %}

{% block title %}
    Users list
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Users:</h1>
            {% for user in users %}
                <ul>
                    <li><a href="{{ url_for('users.profile', pk=user.id) }}">{{ user.username }}</a></li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
